h1 {
    font-size: 24px;
    color:rgb(0, 0, 0); /*van color: blue; veranderd*/
    font-style: italic;
    font-weight: bold;
}

h2 {
    font-size: 20px;
    color:#0000ff;
    font-weight: bold;
}

h3 {
    font-size: 20px;
    color: teal;
    font-weight: bold;
}

p {
    color: #000000  ; /*van #4D4D4D veranderd.*/
}

.p1 {
    font-weight: bold;
}

a {
    color: #8A2BE2;
    text-decoration: none;
}

.headerImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}